@use "./variables.scss";
@use 'variables' as *;

@import "govuk-frontend/dist/govuk/all";

html, body {
    font-family: $main-font, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

main {
    flex: 1;
}
