@use "./variables.scss";
@use 'variables' as *;

@import "govuk-frontend/dist/govuk/all";

html, body {
    font-family: $main-font, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex; 
    flex-direction: column; 
    height: 100%;
}

.govuk-width-container {
    flex: 1;
    width: 100%;
}

.govuk-textarea {
    margin-bottom: 0;
}

form {
    background-color: #e2e9f0;
    border-radius: 5px;
    padding: 30px;
}

