@use "./variables.scss";
@use 'variables' as *;

@import "govuk-frontend/dist/govuk/all";

html, body {
    font-family: $main-font, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-container {
    flex: 1;
    width: 100%;
}

.govuk-textarea {
    margin-bottom: 0;
}

section {
    width: 100%;
}
